In [2]:
#Importing Online Retyail Dataset
import pandas as pd

raw_df = pd.read_csv ('../data/raw_online_retail.csv')
print (raw_df)

       invoiceno stockcode                          description  quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

                invoicedate  unitprice  customerid         country
0       2010-12-01T08:26:00       2.55     17850.0  United Kingdom
1       2010-12-01T08:26:00       3.39     17850.0  United Kingdom
2       2010-12-01T08:26:00       2.75     17850.0  United Kingdom
3       2010-12-01T08:26:00       3.39     17850.0  United Kingdom
4       2010-12-01T08:26:00       3.39     17850.0  United Kingdom
...                     ...        ...         ...             ...
541904  2011-12-09T12:50:00       0.85     12680.0          France
541905  2011-12-09T12:50:00       2.10     12680.0          France
541906  2011-12-09T12:50:00       4.15     12680.0          France
541907  2011-12-09T12:50:00       4.15     12680.0          France
541908  2011-12-09T12:50:00       4.95     12680.0          France

[541909 rows x 8 columns]

In [2]:
#Dataset Info
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   invoiceno    541909 non-null  object
 1   stockcode    541909 non-null  object
 2   description  540455 non-null  object
 3   quantity     541909 non-null  int64
 4   invoicedate  541909 non-null  object
 5   unitprice    541909 non-null  float64
 6   customerid   406829 non-null  float64
 7   country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [3]:
#Removing Null Values
cleaned_df = raw_df.dropna()

In [4]:
print(cleaned_df)

       invoiceno stockcode                          description  quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

                invoicedate  unitprice  customerid         country
0       2010-12-01T08:26:00       2.55     17850.0  United Kingdom
1       2010-12-01T08:26:00       3.39     17850.0  United Kingdom
2       2010-12-01T08:26:00       2.75     17850.0  United Kingdom
3       2010-12-01T08:26:00       3.39     17850.0  United Kingdom
4       2010-12-01T08:26:00       3.39     17850.0  United Kingdom
...                     ...        ...         ...             ...
541904  2011-12-09T12:50:00       0.85     12680.0          France
541905  2011-12-09T12:50:00       2.10     12680.0          France
541906  2011-12-09T12:50:00       4.15     12680.0          France
541907  2011-12-09T12:50:00       4.15     12680.0          France
541908  2011-12-09T12:50:00       4.95     12680.0          France

[406829 rows x 8 columns]

In [7]:
cleaned_df.nunique()

invoiceno      22190
stockcode       3684
description     3896
quantity         436
invoicedate    20460
unitprice        620
customerid      4372
country           37
dtype: int64

In [10]:
cleaned_df.to_csv(r'C:\Users\BS917\Desktop\project\data\cleaned_online_retail.csv')